<!--Dzien ma 1440 minut-->
<div class="container">
  <h1 class="top-text" id="left-top">Dzień: Poniedziałek 01/02/2021</h1>
  <!--<div>-->
    <span [ngStyle]="{backgroundColor: getColor(), width: getWidth(exampleOfWidth), height: '20px'}" class="span-graph"></span>
    <span [ngStyle]="{backgroundColor: getColor(), width: getWidth(exampleOfWidth), height: '20px'}" class="span-graph"></span>
    <span [ngStyle]="{backgroundColor: getColor(), width: getWidth(exampleOfWidth), height: '20px'}" class="span-graph"></span>
  <!--</div>-->
</div>
