.padding-top {
  padding-top: 30px;
  text-align: center;
}
.top-text {
  padding-top: 10px;
  font-family: 'roboto';
  margin-top: 15px;
  text-align: center;
}
#left-top {
  margin-bottom: 60px;
  margin-top: 33px;
}
#date-picker {
  margin-left: 56px;
  position: relative
}
#button-top{
    margin-left: 120px;
}
.checkbox-1 {
  margin-left: 20px;
}
.checkbox-2 {
  margin-right: 16px;
}
.under-button-label {
  font-size: 13px;
  font-style: italic;
  font-family: roboto;
  margin-left: 70px;
}
.btn-margin-top-bot{
    margin-left: 50px;
    margin-top: 35px;
    margin-bottom: 10px;
}
.new-time-range-div {
  margin-left: 0px;
}
.center-button-down {
  position: absolute;
  bottom: 10px;
  left: 105px;
}
.center-button {
  position: absolute;
  left: 130px;
}
