<div class="container">
  <div class="row">
    <div class="col-sm mx-auto">
      <h1 class="top-text" id="left-top">{{'chooseWorkingDay' | translate}}</h1>
      <app-date-picker (eventHandler)="saveDate($event)" id="date-picker"></app-date-picker>
      <hr>
      <button type="button" class="btn btn-primary center-button" (click)="setToday()">{{'todayDate' | translate}}</button>
      <button type="button" class="btn btn-primary center-button-down" (click)="postNewDay()">{{'updateOrAddDay' | translate}}</button>

    </div>
    <div class="col-sm mx-auto">
      <h1 class="top-text">{{'enterWorkingTimeOfEnteredDay1' | translate}}<br />{{'enterWorkingTimeOfEnteredDay2' | translate}}</h1>
      <app-time-picker (eventHandler)="saveTime($event)" [disableStartTime]="notStartedTodayInput"
        [disableFinishTime]="notFinishedTodayInput"></app-time-picker>
      <div class="row">
        <div class="col-sm checkbox-1">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" [(ngModel)]="notStartedTodayInput"
            (change)="onStartedChecked()" [disabled]="notFinishedTodayInput">
          <label class="form-check-label" for="defaultCheck1">
            {{'haveNotStartedToday1' | translate}} <br /> {{'haveNotStartedToday2' | translate}}
          </label>
        </div>
        <div class="col-sm checkbox-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2"
              [(ngModel)]="notFinishedTodayInput" (change)="onFinishedChecked()"
              [disabled]="notStartedTodayInput || showNewTimeRange">
            <label class="form-check-label" for="defaultCheck2">
              {{'haveNotFinishedToday' | translate}}
            </label>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="showNewTimeRangeButton">
        <button class="btn btn-success btn-margin-top-bot" (click)="onShowNewTimeRange()"
          [disabled]="notFinishedTodayInput">{{'addSecondTimeRange' | translate}}</button>
        <label class="under-button-label">{{'ifYouFinishedWorkingEarly1' | translate}} <br /> {{'ifYouFinishedWorkingEarly2' | translate}}
          <br /> {{'ifYouFinishedWorkingEarly3' | translate}}</label>
      </div>

      <div class="row new-time-range-div" *ngIf="showNewTimeRange">
        <app-time-picker-second (eventHandler)="saveTime2($event)" [disableStartTime]="false"
          [disableFinishTime]="notFinishedTodayInput2" [timeOfStartFromHolder]="timeOfStartHolder2ForTimePicker" [timeOfFinishFromHolder] = "timeOfFinishHolder2ForTimePicker"></app-time-picker-second>
        <div class="row">
          <div class="col-sm checkbox-1">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" [disabled]="true">
            <label class="form-check-label" for="defaultCheck3">
              {{'haveNotStartedToday1' | translate}} <br /> {{'haveNotStartedToday2' | translate}}
            </label>
          </div>
          <div class="col-sm checkbox-2">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck4"
                [(ngModel)]="notFinishedTodayInput2" (change)="onFinishedChecked2()">
              <label class="form-check-label" for="defaultCheck4">
                {{'haveNotFinishedToday' | translate}}
              </label>
            </div>
          </div>
        </div>
        <button class="btn btn-danger btn-margin-top-bot" (click)="onHideNewTimeRange()">{{'removeSecondTimeRange' | translate}}</button>
      </div>
    </div>
  </div>
  <!-- I spent the whole day trying to do it the right way (with outlet names), but it didn't work no matter what.
  I will fix it later, but just for now, it works without problem in a bit non-conventional way. -->
  <div class="row">
    <div class="col padding-top">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>