<div class="container">
    <div class="row">
        <div class="col-sm mx-auto">
            <button type="button" class="btn btn-primary margin-right" (click)="showWeekBackOnly()">{{'lastWeek' | translate}}</button>
            <button type="button" class="btn btn-primary margin-right" (click)="showMonthBackOnly()">{{'last4Weeks' | translate}}</button>
            <button type="button" class="btn btn-primary margin-right" (click)="onRefresh()" [disabled]="refreshButtonDisabled">{{'refresh' | translate}}</button>
        </div>
    </div>
    <hr />
    <div class="row">
        <table class="table table-striped table-bordered table-text-algin">
            <thead>
                <tr>
                    <th scope="col" class="width-column">{{'date' | translate}}</th>
                    <th scope="col">{{'dayOfWeek' | translate}}</th>
                    <th scope="col">{{'timeOfStart' | translate}}</th>
                    <th scope="col">{{'timeOfFinish' | translate}}</th>
                    <th scope="col">{{'timeOfStartAfterBreak' | translate}}</th>
                    <th scope="col">{{'timeOfFinish' | translate}}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            

            <tbody>
                <tr scope="row" *ngFor="let info of dayInfoArrayToShow; let i = index">
                    <td class="width-column"> {{ info.DocId }} </td>
                    <td>{{ info.DayOfWeekString }}</td>
                    <td>{{ info.TimeOfStartClockLike }}</td>
                    <td>{{ info.TimeOfFinishClockLike }}</td>
                    <td>{{ info.TimeOfStart2ClockLike }}</td>
                    <td>{{ info.TimeOfFinish2ClockLike }}</td>
                    <td><button type="button" class="btn btn-outline-danger btn-sm" (click)="onDelete(i)">{{'delete' | translate}}</button></td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-circle></app-loading-circle>
      </div>
</div>