<div class="container">
    <div class="row">
        <div class="col-sm mx-auto">
            <button type="button" class="btn btn-primary margin-right" (click)="showWeekBackOnly()">{{'lastWeek' | translate}}</button>
            <button type="button" class="btn btn-primary margin-right" (click)="showMonthBackOnly()">{{'last4Weeks' | translate}}</button>
            <button type="button" class="btn btn-primary margin-right" (click)="onRefresh()">{{'refresh' | translate}}</button>
        </div>
    </div>
    <hr />
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">{{'date' | translate}}</th>
                    <th scope="col">{{'dayOfWeek' | translate}}</th>
                    <th scope="col">{{'timeOfStart' | translate}}</th>
                    <th scope="col">{{'timeOfFinish' | translate}}</th>
                    <th scope="col">{{'timeOfStartAfterBreak' | translate}}</th>
                    <th scope="col">{{'timeOfFinish' | translate}}</th>
                </tr>
            </thead>
            

            <tbody>
                <tr scope="row" *ngFor="let info of dayInfoArrayToShow">
                    <td> {{ info.DocId }} </td>
                    <td>{{ info.DayOfWeek }}</td>
                    <td>{{ info.TimeOfStart }}</td>
                    <td>{{ info.TimeOfFinish }}</td>
                    <td>{{ info.TimeOfStart2 }}</td>
                    <td>{{ info.TimeOfFinish2 }}</td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-circle></app-loading-circle>
      </div>
</div>